<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="GoogleCaptchaPublicKey" value="6Ld19cEUAAAAACXwk42IhEGPcz9DP8eoX2IKtiwF" />
      <setting name="GoogleCaptchaPrivateKey" value="6Ld19cEUAAAAAHlwUDTChjC1w4e_Od-yldux0aUL" />
    </settings>
  </sitecore>
</configuration>